<!DOCTYPE html>
<html>
    <head>
        <title>RentSolution</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <h1 class="box" style="height: 100px;" >Welcome To RentSolution</h1><br>
            <p style="color: chocolate;
            font-size: larger;" >Click either the Landlord or Tenant to get Started!</p>
       
        <ul class="header1" style="font-size: 20px;">
            <li class="header1">Home</li>
            <li class="header1"><a href="landlord.html">Landlord</a></li>
            <li class="header1"><a href="tenant.html">Tenant</a></li>
            <a href="https://www.facebook.com/RentSolution-100685942622688">About Us</a>
        </ul>
        <h2>This is the Homepage</h2>
        <p>Rent Solution connects Tenants and Landlords in the most easy and efficient way!</p>
        <img src="https://ap.rdcpix.com/6d109443754662e40f75b5cea2484e00l-m1404432133s-w642_h420_q75.jpg" alt="House" width="450" height="333">
        <img src="https://ddfcdn.realtor.ca/listings/TS637831339646500000/reb19/highres/1/10247591_36.jpg" alt="House" width="450" height="333">
        <img src="https://photos.zolo.ca/119-robert-wallace-drive-kingston-X4997245-3.jpg?2020-12-03+03%3A21%3A45" alt="House" width="450" height="333">
        <img src="https://images.squarespace-cdn.com/content/v1/52ff78bbe4b018a8a07ca2e9/1587338559071-8Y99GR2YGCJFFKYDRPAD/367+Blythwood+-+Web-12.jpg" alt="House" width="450" height="333">


        </div>

        
       
        

        <script src="./main.js"></script>   
        <script src="./add.js"></script>   
        <script src="./find.js"></script>   
        <script src="./list.js"></script>
        
        
           
    </body>
</html>